meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Actividad Productiva del Sector Primario.
meta(meta name="description" content="Los pequeños y medianos productores agropecuarios del país realizan sus actividades de forma artesanal con conocimientos adquiridos culturalmente y trasmitidos de padres a hijos o eventualmente, por medio de algún tipo de formación específica de cursos cortos, capacitaciones técnicas, conferencias y demás.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")