h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 280301200-01 - Identificar el problema a solucionar con base en información técnica recolectada, necesidades del sector productivo y entorno. 

            li 
                span 210601026-01 - Seleccionar fuentes de información, muestra y métodos de acuerdo con parámetros técnicos y metodología estadística.                